<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Pelles Gästbok</title>
</head>
<body>
    <h1>Pelles Gästbok</h1>
    <form action="" method="post" enctype="multipart/form-data">
        Namn:
        <input type="text" name="name" id="name">
        <br>
        <br>
        Email:
        <input type="text" name="email" id="email">
        <br>
        <br>
        Telefonnummer:
        <input type="tel" name="phone" id="phone"><!-- pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" -->
        <br>
        <br>
        Meddelande:
        <textarea name="textbox" id="textbox" rows="5" cols="50" style="vertical-align: top;" style="resize: none;"></textarea>
        <br>
        <br>
    </form><input type="submit" name="skicka" id="submit">
</body>
</html>